  <!-- ======== @Region: #content ======== -->
  <div id="content">
    <div class="container">
      <h2><strong>Agenda de Victoria</strong></h2>
      <hr>
      <!-Intro->
        <h4 class="block-title">Mis Actividades</h4>
      <div>
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="text-center" >N°</th>
              <th class="text-center" >Actividad</th>
              <th class="text-center" >Fecha</th>
              <th class="text-center" >Lugar</th>
              <th class="text-center" >Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <!--tr ng-repeat="act in actividades" style="background-color:{{$even?'white':'yellow'}}"-->
            <tr ng-repeat="act in $root.actividades">
              <td rowcol-md-="2" class="text-center" >{{$index}}</td>
              <td rowcol-md-="2" class="text-center" >{{act.nombre}}</td>
              <td rowcol-md-="2" class="text-center" >{{act.fecha | date: "dd-MM-yyyy" }}</td>
              <td rowcol-md-="2" class="text-center" >{{act.lugar}}</td>
              <td rowcol-md-="2" class="text-center" ><button ng-click="$ctrl.elim(act.id)">X</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mission text-center block block-pd-sm block-bg-noise" ng-hide="form===true">
      <div class="container">
        <h4 class="text-shadow-white"><strong>Para crear una nueva Actividad!</strong></h4>
            <div class="text-center">
              <button ng-click="form = true" ng-init="form = false" ng-style="$root.background_base">
                 <i class="fa fa-arrow-circle-right"></i>Click Aquí!
              </button>
            </div>          
      </div>
    </div>
    <div class="row" id="nueva_act">
      <div class="col-md-3"></div>
      <div class="form col-md-6" ng-show="form===true">
        <form method="post" role="form" class="contactForm">
          <div class="form-group ">
            <label for="nombre" class="col-md-2">Nombre:</label>
            <input id="nombre" name="nombre" type="text" class="col-md-6" ng-style="$root.css_form" ng-model="$ctrl.actividades.nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
            <div class="validation"></div>
          </div><br><br><br>

          <div class="form-group">
            <label for="fecha" class="col-md-2">Fecha:</label>
            <input id="fecha" name="fecha" type="date" class="col-md-6" ng-style="$root.css_form" ng-model="$ctrl.actividades.fecha" min="2020-01-01" max="2099-12-31"/>
            <div class="validation"></div>
          </div><br><br>

          <div class="form-group">
            <label for="lugar" class="col-md-2">Lugar:</label>
            <input id="lugar" name="lugar" type="text" class="col-md-6" ng-style="$root.css_form" ng-model="$ctrl.actividades.lugar"/>
          </div><br><br>

          <div class="form-group">
            <label for="categoria" class="col-md-2">Categoría:</label>
            <select id="categoria" name="categoria" type="checkbox" class="col-md-6" ng-style="$root.css_form"ng-model="$ctrl.actividades.categoria" >
              <option value="">--Elige opcion--</option>
              <option value="M">Movible</option>
              <option value="I">Inamovible</option>
            </select>
          </div><br><br>

          <div class="form-group">
            <label for="alarma" class="col-md-2">Alarma:</label>
            <input id="alarma" name="alarma" type="checkbox" class="col-md-6 pull-right" ng-style="$root.css_form" ng-model="$ctrl.actividades.alarma" />
          </div><br><br>

          <div>
            <label for="hora" class="col-md-2">Hora:</label>
            <input id="hora" name="hora" type="time" class="col-md-6" ng-style="$root.css_form" ng-disabled="$ctrl.actividades.alarma==false" ng-init="$ctrl.actividades.alarma=false" ng-model="$ctrl.actividades.hora" />
          </div><br><br>

          <div class="text-center">
            <button type="submit" ng-click="$ctrl.addActividad()">Aceptar</button>
            <button type="reset" >Limpiar</button>
          </div>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
      

